body {
    font-family: 'Special Elite', cursive;
    background-color: rgb(163, 163, 117)
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 32;
} 

header p {
    display: flex;
    justify-content: center;
}

main {
    display: flex; 
    justify-content: space-around;
}

main div {
    background-color: beige;
    padding: 20px; 
    
}

ul {
    list-style: none; 
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid gray; 
    margin: 8px;
    padding: 10px; 
    background-color: rgb(249, 249, 240);
    box-shadow: 3px 4px rgb(163, 163, 117);
    list-style: none; 
    line-height: 1em;
}

.search-container {
   justify-items: space-around;
   max-width: 30%;
   min-height: 400px; 
}

.results-card {
    display: flex; 
}

#published-year {
    font-size: 12px; 
}

.want-to-read-container {
    max-width: 30%;
    min-height: 400px; 
   
}

.card-header {
    display: flex; 
    background-color: inherit;
    padding: 0px;
    margin: 0px; 
}

.card-body {
    background-color: inherit;
    padding: 0px;
    margin: 0px; 
}

.read-container  {
    max-width: 30%; 
}

.read-card {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stats {
    background-color: rgb(249, 249, 240);
    box-shadow: 3px 4px rgb(163, 163, 117);   
}


