body {
    font-family: 'Special Elite', cursive;
    background-color: rgb(163, 163, 117)
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 32;
} 

header p {
    display: flex;
    justify-content: center;
}

main {
    display: flex; 
    justify-content: space-around;
}

main div {
    background-color: beige;
    padding: 20px; 
    
}

ul {
    list-style: none; 
}

li.result-card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid gray; 
    margin: 8px;
    padding: 10px; 
    background-color: rgb(249, 249, 240);
    list-style: none; 
    line-height: 1em;
    position: relative;
    left: -49px; 
}

.search-container {
   justify-items: space-around;
   width: 30%;
   min-height: 400px; 
}

.results-card {
    display: flex; 
}

#published-year {
    font-size: 12px; 
}

.read-container {
    width: 30%;
    min-height: 400px; 
   
}

.read-card {
    display: block; 
}

.card-header {
    display: inline; 
    background-color: inherit;
    padding: 0px;
    margin: 0px; 
}

button.delete {
    align-self: top;
    justify-self: right;
}

.card-body {
    background-color: inherit;
    padding: 0px;
    margin: 0px; 
}

.stats-container  {
   width: 30%; 
}

.read-card {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stats {
    background-color: rgb(249, 249, 240);
    border: 1px solid gray; 
    padding: 8px;   
}


